{% extends 'layout.html.twig' %}

{% block title %}
   {{ product.reference }}
{% endblock %}
        
{% block body %}
    
    <h1>Produit</h1>

    <div class="col-xs-8">
        <h3>Nom : {{ product.name }}</h3>
        <h3>Prix : {{ product.price }} €</h3>
        <h3>Description :</h3><p> {{ product.description }}</p>
    </div>
    <div class="col-xs-4">
        <img width="200" src="{{ asset('img/' ~ product.photo) }}">
    </div>

{% endblock %}